<h1> Items </h1>
<table>
  <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
        <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @item.name %></td>
        <td><%= @item.price %></td>
        <td>
          <table>
            <tbody>
              <tr>
                  <td><%= link_to "Edit", edit_item_path(@item) %></td>
                  <td><span><%= button_to "delete", item_path(@item), :method => "delete" %></span></td>
              </tr>
            </tbody>
          </table>
        </td>
    </tr>
  </tbody>
</table>
<%= link_to "Back", items_path %>